<style>
  table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
</style>
<div></div>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. ium">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- country Column -->
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> País </th>
    <td mat-cell *matCellDef="let element"> {{element.country}} </td>
  </ng-container>

  <!-- cases Column -->
  <ng-container matColumnDef="cases">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Casos </th>
    <td mat-cell *matCellDef="let element"> {{element.cases}} </td>
  </ng-container>

  <!-- todayCases Column -->
  <ng-container matColumnDef="todayCases">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Casos do dia  </th>
    <td mat-cell *matCellDef="let element"> {{element.todayCases}} </td>
  </ng-container>

  <!-- deaths Column -->
  <ng-container matColumnDef="deaths">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mortes </th>
    <td mat-cell *matCellDef="let element"> {{element.deaths}} </td>
  </ng-container>

  <!-- todayDeaths Column -->
  <ng-container matColumnDef="todayDeaths">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Mortes do dia </th>
    <td mat-cell *matCellDef="let element"> {{element.todayDeaths}} </td>
  </ng-container>

  <!-- recovered Column -->
  <ng-container matColumnDef="recovered">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Recuperados </th>
    <td mat-cell *matCellDef="let element"> {{element.recovered}} </td>
  </ng-container>

  <!-- active Column -->
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ativos </th>
    <td mat-cell *matCellDef="let element"> {{element.active}} </td>
  </ng-container>

  <!-- critical Column -->
  <ng-container matColumnDef="critical">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Criticos </th>
    <td mat-cell *matCellDef="let element"> {{element.critical}} </td>
  </ng-container>

  <!-- tests Column -->
  <ng-container matColumnDef="tests">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Testes realizados </th>
    <td mat-cell *matCellDef="let element"> {{element.tests}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 30, 50]" showFirstLastButtons></mat-paginator>

